:root {
  --text-color: #282828;
  --background-color: #FDFDFD;
  --primary-color: #0056D2;
  --secondary-color: #E5E7EB;
  --accent-color: #FFB800;
  --nav-bg: #282828; 
  --nav-border: #E5E7EB;
  --nav-text: #E5E7EB;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.btn-secondary{
    background-color: var(--accent-color) !important;
    color: #282828 !important;
    border: none !important;
    transition: 0.3s !important;
}

.btn-primary:hover {
    background-color: #0044a8 !important;
    border-color: #0044a8 !important;
}

.btn-secondary:hover {
    background-color: #E5A600 !important;
    border-color: #E5A600 !important;
    color: #000000 !important;
}

.navbar-custom {
    background-color: var(--nav-bg) !important;
    border-bottom: 2px solid var(--primary-color); 
    padding: 0.8rem 0;
}

.navbar-custom .nav-link {
    color: var(--nav-text) !important;
    font-weight: 500;
    transition: 0.3s;
}

.navbar-custom .nav-link:hover {
    color: var(--accent-color) !important; 
}

.navbar-brand img {
    height: 60px !important; /* İstediğin boyuta göre ayarla */
    width: 60px !important;  /* Kare olması için height ile aynı olmalı */
    object-fit: cover !important;       /* Resim yamulmasın, dairenin içine tam otursun */
    border-radius: 50%;      /* İşte bu kod daire yapıyor */
    background-color: white; /* Eğer logonun arkası şeffafsa beyaz zemin iyi durur */
}

.navbar-custom .navbar-brand {
    color: #ffffff !important;
    font-weight: 800;
    letter-spacing: 1px;
}
    
.modal-content {
    border-radius: 15px; /* Köşeleri yuvarlatma */
}


.instrument-row {
    background-color: var(--nav-bg) !important; /* Navbar ile aynı gri/siyah */
    color: white !important; /* Yazılar beyaz */
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


.course-card {
    border: none !important;
    border-radius: 15px;
    transition: transform 0.2s;
    position: relative;
    z-index: 1;
    color: white !important; /* Kart içindeki yazılar da beyaz olsun */
}

.bg-easy { background-color: #2ecc71 !important; }   
.bg-medium { background-color: #f1c40f !important; color: #282828 !important; } 
.bg-hard { background-color: #e74c3c !important; }

.course-card:hover {
    transform: scale(1.3);
    z-index: 10;
}

.course-card p {
    opacity: 0.9;
}
